.item {
    width: 30%;
    margin-bottom: 50px;
    background: #f5f5f5;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

.item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
}

.item img:hover {
    transform: scale(1.05);
}

.item h2,
.item p,
.item b {
    margin: 10px 20px;
    color: #333;
}

.item b {
    color: #5fa36a;
}

.item .add-to-card {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

.item .add-to-card:hover {
    transform: scale(1.2);
}